
<mat-card class="margin-left">

  <mat-card-header>
    <mat-card-title class="mytitle">Verwaltung der Bewerbungen</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <!-- oben stehen die Listbox mit allen Stellenanzeigen und daneben den Bewerbern zum selektierten Stellenangebot -->
    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <mat-select
            placeholder="Wähle Stellenangebot"
            name="selStellenangebot"
            (selectionChange)="stangChangeAction(selStangObject)"
            [(ngModel)]="selStangObject">

            <mat-option
              *ngFor="let stang of sa_array"
              [value]="stang"
              (click)="buildListBewerber(stang.id)"
              >
              {{ stang.bezeichnung }}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field>
          <mat-select
            placeholder="Wähle Bewerber"
            name="selBewerber"
            (selectionChange)="bewerberChangeAction(selBewerberObject)"
            [(ngModel)]="selBewerberObject">

            <mat-option
              *ngFor="let bew of bew_array"
              [value]="bew"
              (click)="showSelectedBewerber(bew.id)"
              >
              {{ bew.nachname }}, {{ bew.vorname }}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <hr/>

    <!-- unten stehen die Details eines Bewerbers zum gewählten Stellenangebot -->


    <div class="row">
      <div class="col-md-8" >
        <span class="hinweis1">
          Stellenangebot: "{{selStangObject?.bezeichnung}}";
          {{selBewerberObject !== undefined ? ("Bewerber: " + selBewerberObject.nachname) : ' noch kein Bewerber angelegt'}}
        </span>
        <p></p>
      </div>
    </div>

    <div class="form-container">
      <form [formGroup]="bewerberFormGroup" (submit)="submit()">

        <div class="row">

          <div class="col-md-2">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label> Nachname </mat-label>
              <input matInput formControlName="nachname">
              <mat-error *ngIf="checkError('nachname', 'required')">Nachname darf nicht leer sein</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-2">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label> Vorname </mat-label>
              <input matInput formControlName="vorname">
              <mat-error *ngIf="checkError('vorname', 'required')">Vorname darf nicht leer sein</mat-error>
            </mat-form-field>
          </div>

        </div>

        <div class="row">
          <div class="col-md-2">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label> Anrede </mat-label>
              <input matInput formControlName="anrede">
              <mat-error *ngIf="checkError('anrede', 'required')">Vorname darf nicht leer sein</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-2">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label> Titel </mat-label>
              <input matInput formControlName="titel">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label> Plz </mat-label>
              <input matInput formControlName="plz">
              <mat-error *ngIf="checkError('plz', 'required')">Plz darf nicht leer sein</mat-error>
            </mat-form-field>
          </div>

           <div class="col-md-2">
             <mat-form-field class="form-field" appearance="outline">
              <mat-label> Ort </mat-label>
              <input matInput formControlName="ort">
              <mat-error *ngIf="checkError('ort', 'required')">Ort darf nicht leer sein</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label> Strasse </mat-label>
              <input matInput formControlName="strasse">
              <mat-error *ngIf="checkError('strasse', 'required')">Strasse darf nicht leer sein</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-2">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label> Hausnumer </mat-label>
              <input matInput formControlName="hausnummer">
              <mat-error *ngIf="checkError('hausnummer', 'required')">Hausnummer darf nicht leer sein</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <mat-form-field class="form-field" appearance="outline" class="breit">
              <mat-label> eMail </mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="checkError('email', 'required')">eMail darf nicht leer sein</mat-error>
              <mat-error *ngIf="checkError('email', 'minlength')">eMail muss mindestens 10 Zeichen lang sein</mat-error>
              <mat-error *ngIf="checkError('email', 'maxlength')">eMail darf maximal 40 Zeicvhen lang sein</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <mat-form-field class="form-field" appearance="outline" class="breit">
              <mat-label> Notizen </mat-label>
              <textarea matInput formControlName="notizen"></textarea>
            </mat-form-field>
           </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <mat-form-field class="form-field" appearance="outline" class="breit">
              <mat-label> Skills </mat-label>
              <textarea matInput formControlName="skills"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <button mat-raised-button color="primary" type="submit">Speichern</button>
          </div>
        </div>
      </form>
    </div>

  </mat-card-content>
</mat-card>
