
<mat-card class="margin-left">

  <mat-card-header>
    <mat-card-title class="mytitle">Verwaltung der Bewerbungen</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <!-- oben steht die Listbox mit allen Stellenanzeigen aus der Tabelle "stellenangebote"-->
    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <mat-select
            placeholder="Wähle Stellenangebot"
            name="selStellenangebot"
            (selectionChange)="stangChangeAction(selStangObject)"
            [(ngModel)]="selStangObject" >


            <mat-option
              *ngFor="let stang of sa_array"
              [value]="stang"
              (click)="getListBewerber(stang.id)"
              >
              {{ stang.bezeichnung }}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <hr/>

    <!-- unten stehen die Details der gewählten Stellenangebotes -->
    <div class="row">
      <div class="col-md-8" >
        <span class="minigap">Stellenangebot: "{{selStangObject.bezeichnung}}";
                             {{selBewerberObject !== undefined ? ("Bewerber: " + selBewerberObject.nachname) : ' noch kein Bewerber angelegt'}}</span>
        <p></p>
      </div>
    </div>

  </mat-card-content>
</mat-card>
