
<mat-card class="margin-left">

  <mat-card-header>
    <mat-card-title class="mytitle">Verwaltung der Bewerbungen</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <!-- oben steht die Listbox mit allen Stellenanzeigen aus der Tabelle "stellenangebote" -->

    <!-- oben steht die Listbox mit allen Stellenanzeigen aus der Tabelle "stellenangebote"-->
    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <mat-select
            placeholder="Wähle Stellenangebot"
            name="selStellenangebot"
            (selectionChange)="stangChangeAction(selStangObject)"
            [(ngModel)]="selStangObject" >


            <mat-option
              *ngFor="let stang of sa_array"
              [value]="stang"
              (click)="stangShowDetails(stang)"
              >
              {{ stang.bezeichnung }}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!--
    <div class="row">
      <div class="col-md-2" >
        <div class="minigap">Stellenanzeigen:</div>
      </div>

      <div class="col-md-3" >
        <mat-selection-list #stang [multiple]="false"  [disabled]="!readonly">
          <mat-list-option
                (click)="showBewerber(stang)"
                *ngFor="let stang of sa_array, let i=index"
                [value]="stang.bezeichnung"
                [selected]="stang && i == 0"
          >
            {{stang.bezeichnung}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    -->

  </mat-card-content>
</mat-card>
