
@import '~@angular/material/theming';


//// zum farblichen unterlegen der gewählten Checkboxen

mat-list-option {
  margin: 10px;
}

$primaryPalette: mat-palette($mat-green);

mat-list-option[aria-selected="true"] {
  background: mat-color($primaryPalette, 100);
}

/////////////////

.full-width{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}

.form-container{
  margin: 100px;
}

// selectors by _HS
.margin-left-h1{
  margin-left:10px;
}

.margin-left-h2{
  padding-left:15px;
  padding-top: 20px;
}

.kanal-checkbox {
  padding-left: 5px;
  width: 650px;
}

.status-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.kanal-radio-button {
  margin: 5px;
}

.kanal-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.status-radio-button {
  margin: 5px;
}


.group-label {
  margin-top: 20px;
  font-size: large;
  font-weight: 500;
}

.mat-checkbox-checked .mat-checkbox-background {
  transform: scale(2);
}

/*
.mat-checkbox .mat-checkbox-frame {
  transform: scale(2);
}
*/

// Buttons rechts ausrichten
.mat-dialog-actions {
  // ...
  &
  [align = 'end'] {
     justify-content: flex - end;
  }

  &
  [align = 'center'] {
     justify-content: center;
  }
}


.trenner {
  padding-top: 15px;
}


////////////////////////////////////////////////////////@at-root
.minigap {
  padding-top: 23px;
  padding-left: 55px;
}

.margin-left {
  padding-left: 5px;
  font-size: large;
}
