
@import '~@angular/material/theming';

.auffaellig {
  background-color: yellow;
  padding: 10px;
}

.pdfattached {
  background-color: greenyellow;
  padding: 10px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:rgb(66, 134, 244);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:rgb(66, 134, 244);
  background-color:rgb(66, 134, 244) ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(255, 37, 37,.26)
}

//// zum farblichen unterlegen der gewählten Checkboxen

mat-list-option {
  margin: 10px;
}

$primaryPalette: mat-palette($mat-green);

/*
mat-list-option[aria-selected="true"] {
  background: mat-color($primaryPalette, 100);
}
*/
mat-list-option[aria-selected="true"] {
  background: rgba(0, 139, 139, 0.7);
}

/////////////////

.full-width{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}

.form-container{
  margin: 100px;
}

// selectors by _HS
.margin-left-h1{
  margin-left:10px;
}

.margin-left-h2{
  padding-left:15px;
  padding-top: 20px;
}

.kanal-checkbox {
  padding-left: 5px;
  width: 650px;
}

.status-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.kanal-radio-button {
  margin: 5px;
}

.kanal-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.status-radio-button {
  margin: 5px;
}


.group-label {
  margin-top: 10px;
  padding-right: 5px;
  font-size: large;
  font-weight: 500;
}

.mat-checkbox-checked .mat-checkbox-background {
  transform: scale(1);
}

/*
.mat-checkbox .mat-checkbox-frame {
  transform: scale(2);
}
*/

// Buttons rechts ausrichten
.mat-dialog-actions {
  // ...
  &
  [align = 'end'] {
     justify-content: flex - end;
  }

  &
  [align = 'center'] {
     justify-content: center;
  }
}


.trenner {
  padding-top: 15px;
}


.highlight-dates{
  background: rgb(0, 255, 98);
  border-radius: 100%;
}

////////////////////////////////////////////////////////@at-root
.minigap {
  padding-top: 2px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 18px;
  font-size: 20px;
  font-weight: 500;
  background-color: yellow;
  text-align: center;
}

.margin-left {
  padding-left: 5px;
  font-size: large;
}

.abstand {
  padding-top: 50px;
}

.abstand_left {
  padding-left: 10px;
}
.abstand_right {
  padding-right: 20px;
}
